<h1>Upcoming events</h1>

<% if Event.any? %>
  <section class="grid md:grid-cols-3 gap-8">
  <% @events.each do |event| %>

<div class="p-4 bg-white shadow-md grid grid-cols items-center">
    <h3 class="mt-0"><%= event.name %></h2>
    <p><%= event.location %></p>
    <p class="mt-0 lg:order-first"><%= event.event_date.strftime('%Y-%m-%d %H:%M') %></p>
    </div>

  <% end %>
    </section>
<% else %>
  <h3>No events found</h3>
<% end %>
