<h1>Upcoming events</h1>

<% if Event.any? %>
  <% @events.each do |event| %>

    <h2><%= event.name %></h2>
    <p><%= event.location %></p>
    <p><%= l(event.event_date) %></p>

  <% end %>
<% else %>
  <h3>No events found</h3>
<% end %>
